<!doctype html>
<html ng-app="PlanboxPMApp" ng-controller="PMAppController">
  <!-- vim: ts=2 sw=2 :
  -->
  <head>
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  </head>
  <body class="container">
    <script src="bower_components/jquery/jquery.min.js"></script>

    <script src="bower_components/angular/angular.js"></script>
    <script src="angular-tbUtils.js"></script>
    <script src="bower_components/angular-filters/build/angular-filters.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/lodash/dist/lodash.js"></script>
    <script src="app.js"></script>

    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <div>
      <div style="float: right">Welcome, {{pbUser.name}}</div>
      <h1>Product Management</h1>

      <div class="btn-group">
        <button class="btn" ng-class="{ 'btn-primary': (mode === 'prioritize')}" ng-click="mode = 'prioritize'">Prioritize</button>
        <button class="btn" ng-class="{ 'btn-primary': (mode === 'manage')}" ng-click="mode = 'manage'">Manage</button>
        <button class="btn" ng-class="{ 'btn-primary': (mode === 'do')}" ng-click="mode = 'do'">Do</button>
      </div>

      <!-- prioritize -->
      <div ng-show="mode === 'prioritize'">
        <p>Found {{pmStories.length}} PM stories.</p>
        <table class="table">
            <tr>
                <th>Idea</th>
                <th colspan=2>Value</th>
                <th colspan=2>Cost</th>
                <th>Score</th>
            </tr>
            <tr>
                <th>&nbsp;</th>
                <th>Marginal $$$</th>
                <th>Strategic Fit</th>
                <th>Time To Build</th>
                <th>Time Risk</th>
                <th>&nbsp;</th>
            </tr>
            <tr ng-repeat="story in pmStories" ng-controller="PMPrioritizeListItemController">
                <td>
                    <!--
                    <a ng-href="https://www.planbox.com/initiatives/6887#story_pane_tab=tasks&timeframe=backlog&story_id={{story.pbStory.id}}" target="planbox">{{story.pbStory.name}}</a>
                    -->
                    <h4 ng-click="showStoryDetails = !showStoryDetails"><i ng-class="{ 'glyphicon-thumbs-up': (story.pbStory.timeframe == 'current'), 'glyphicon-ban-circle': (story.pbStory.timeframe == 'backlog') }" class="glyphicon"></i> {{story.pbStory.name}}</h4>
                    <div>
                      <em>{{story.storyTags}}</em>
                    </div>
                    <div ng-show="showStoryDetails">
                      <button class="btn" ng-show="story.pbStory.timeframe != 'current'" ng-click="prioritize()">Make it happen!</button>
                      <button class="btn" ng-show="story.pbStory.timeframe == 'current'" ng-click="deprioritize()">Maybe later...</button>
                      <h5>Tasks</h5>
                      <ul>
                        <li ng-repeat="task in story.pbStory.tasks">
                          <strong>{{task.name}}</strong>
                          <p ng-show="task.description">{{task.description}}</p>
                        </li>
                      </ul>
                      <h5>Description</h5>
                      <!-- this is slow, maybe change it to be onClick... -->
                      <div xng-bind-html="story.pbStory.description"></div>
                    </div>
                </td>
                <td>
                    <select ng-model="story.pmInfo.pm_revenue" ng-options="value as label for (value, label) in selectOptions.pm_revenue"></select>
                </td>
                <td>
                    <select ng-model="story.pmInfo.pm_fit" ng-options="value as label for (value, label) in selectOptions.pm_fit"></select>
                </td>
                <td>
                    <select ng-model="story.pmInfo.pm_time" ng-options="value as label for (value, label) in selectOptions.pm_time"></select>
                </td>
                <td>
                    <select ng-model="story.pmInfo.pm_risk" ng-options="value as label for (value, label) in selectOptions.pm_risk"></select>
                </td>
                <td>{{story.pmInfo.weightedPm}}</td>
            </tr>
        </table>
      </div>
      <!-- /prioritize -->

      <!-- manage -->
      <div ng-show="mode === 'manage'" ng-controller="PMManageController">
        <p>Found {{priorityStories.length}} active stories.</p>
        <table class="table">
          <tr>
            <th>Idea</th>
          </tr>
          <tr ng-repeat="story in priorityStories" ng-controller="PMPrioritizeListItemController">
            <td>
              {{story.pbStory.name}}
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{story.progressPercent()}}%;">
                  <span class="sr-only">{{story.progressPercent()}}% Complete</span>
                </div>
              </div>
              <ul>
                <li ng-repeat="doStory in story.doStories">
                  {{doStory.name}}
                  progress: {{doStory.duration()}}/{{doStory.estimate()}}
                  <ul>
                    <li ng-repeat="task in doStory.tasks">
                    ({{task.progressInHours()}}/{{task.estimate}}) {{task.name}}
                    </li>
                  </ul>
                </li>
              </ul>
            </td>
          </tr>
        </table>
      </div>
      <!-- /manage -->

      <!-- do -->
      <div ng-show="mode === 'do'">
      </div>
      <!-- /do -->

    </div>
  </body>
</html>

