<!doctype html>
<html ng-app="PlanboxPMApp" ng-controller="PMAppController">
  <!-- vim: ts=2 sw=2 :
  -->
  <head>
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  </head>
  <body class="container">
    <script src="bower_components/jquery/jquery.min.js"></script>

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.min.js"></script>
    <script src="angular-tbUtils.js"></script>
    <script src="bower_components/angular-filters/build/angular-filters.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/lodash/dist/lodash.js"></script>
    <script src="app.js"></script>

    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <div>
      <div style="float: right; text-align: right">
        Welcome, {{pbUser.name}}<br />
        <select ng-model="selectedPbProductId" required ng-options="product.id as product.name for product in pbProducts"></select>
      </div>
      <h1>Product Management</h1>

      <div class="btn-group">
        <button class="btn" ng-class="{ 'btn-primary': (mode === 'prioritize')}" ng-click="mode = 'prioritize'">Prioritize</button>
        <button class="btn" ng-class="{ 'btn-primary': (mode === 'manage')}" ng-click="mode = 'manage'">Manage</button>
        <button class="btn" ng-class="{ 'btn-primary': (mode === 'do')}" ng-click="mode = 'do'">Do</button>
      </div>

      <hr />

      <!-- prioritize -->
      <div ng-show="mode === 'prioritize'" ng-controller="PMPrioritizeController">
        <span>Filter:
          <div class="btn-group">
            <button type="button" class="btn" ng-class="{ 'btn-success': roadmapFilterMode == 'all' }"          ng-click="handleClickedOnRoadmapFilterMode('all')">All</button>
            <button type="button" class="btn" ng-class="{ 'btn-success': roadmapFilterMode == 'roadmap_only' }" ng-click="handleClickedOnRoadmapFilterMode('roadmap_only')">Roadmap Only</button>
          </div>
          <div class="btn-group">
            <button type="button" class="btn" ng-repeat="filter in unionStoryFilters"
              ng-class="{ 'btn-success': filter.enabled }"
              ng-click="filter.enabled = !filter.enabled"
              >
              <i ng-class="filter.glyphicon" class="glyphicon"></i>
              {{filter.name}}
            </button>
          </div>
          <div class="btn-group">
            <button type="button" class="btn" ng-class="{ 'btn-success': scoreFilterMode == 'unscored_only' }" ng-click="handleClickedOnScoreFilterMode('unscored_only')">Unscored Only</button>
            <button type="button" class="btn" ng-class="{ 'btn-success': scoreFilterMode == 'scored_only' }"   ng-click="handleClickedOnScoreFilterMode('scored_only')">Scored Only</button>
          </div>
        </span>

        <br />
        <br />

        <table class="table">
            <tr>
                <th>{{stories.length}} stories match</th>
                <th colspan=2>Value</th>
                <th colspan>Cost</th>
                <th colspan>Risk</th>
                <th>Score</th>
            </tr>
            <tr>
                <th>Story</th>
                <th>{{pmInfo.pm_revenue.description}}</th>
                <th>{{pmInfo.pm_fit.description}}</th>
                <th>{{pmInfo.pm_time.description}}</th>
                <th>{{pmInfo.pm_risk.description}}</th>
                <th>&nbsp;</th>
            </tr>
            <tr ng-repeat="story in stories | orderBy:'pmInfo.weightedPm':true" ng-controller="PMPrioritizeListItemController">
                <td>
                    <!--
                    <a ng-href="https://www.planbox.com/initiatives/6887#story_pane_tab=tasks&timeframe=backlog&story_id={{story.pbStory.id}}" target="planbox">{{story.pbStory.name}}</a>
                    -->
                    <span ng-click="showStoryDetails = !showStoryDetails">
                      <i ng-class="story.glyphicon()" class="glyphicon"></i>
                      {{story.pbStory.name}}
                    </span>
                    <div>
                      <em>{{story.storyTags}}</em>
                    </div>
                    <div ng-show="showStoryDetails">
                      <button class="btn" ng-show="story.priorityStatus() !== 'priority'" ng-click="prioritize()">
                        <i class="glyphicon glyphicon-play"></i>
                        Make it happen!
                      </button>
                      <button class="btn" ng-show="story.priorityStatus() === 'priority'" ng-click="deprioritize()">
                        <i class="glyphicon glyphicon-list"></i>
                        Move to backlog...
                      </button>
                      <h5>Tasks</h5>
                      <ul>
                        <li ng-repeat="task in story.pbStory.tasks">
                          <strong>{{task.name}}</strong>
                          <p ng-show="task.description">{{task.description}}</p>
                        </li>
                      </ul>
                      <h5>Description</h5>
                      <div ng-if="showStoryDetails" ng-bind-html="story.pbStory.description"></div>
                    </div>
                </td>
                <td ng-switch on="showStoryDetails">
                  <div ng-switch-when="true"><select ng-model="story.pmInfo.pm_revenue" ng-options="value as label for (value, label) in selectOptions.pm_revenue"></select></div>
                  <div ng-switch-when="false" ng-click="$parent.showStoryDetails = !showStoryDetails">{{selectOptions.pm_revenue[story.pmInfo.pm_revenue]}}&nbsp;</div>
                </td>
                <td ng-switch on="showStoryDetails">
                  <div ng-switch-when="true"><select ng-model="story.pmInfo.pm_fit" ng-options="value as label for (value, label) in selectOptions.pm_fit"></select></div>
                  <div ng-switch-when="false" ng-click="$parent.showStoryDetails = !showStoryDetails">{{selectOptions.pm_fit[story.pmInfo.pm_fit]}}&nbsp;</div>
                </td>
                <td ng-switch on="showStoryDetails">
                  <div ng-switch-when="true"><select ng-model="story.pmInfo.pm_time" ng-options="value as label for (value, label) in selectOptions.pm_time"></select></div>
                  <div ng-switch-when="false" ng-click="$parent.showStoryDetails = !showStoryDetails">{{selectOptions.pm_time[story.pmInfo.pm_time]}}&nbsp;</div>
                </td>
                <td ng-switch on="showStoryDetails">
                  <div ng-switch-when="true"><select ng-model="story.pmInfo.pm_risk" ng-options="value as label for (value, label) in selectOptions.pm_risk"></select></div>
                  <div ng-switch-when="false" ng-click="$parent.showStoryDetails = !showStoryDetails">{{selectOptions.pm_risk[story.pmInfo.pm_risk]}}&nbsp;</div>
                </td>
                <td>{{story.pmInfo.weightedPm}}</td>
            </tr>
        </table>
      </div>
      <!-- /prioritize -->

      <!-- manage -->
      <div ng-show="mode === 'manage'" ng-controller="PMManageController">
        <p>Found {{priorities.length}} active stories.</p>
        <table class="table">
          <thead>
            <tr>
              <th>Story</th>
              <th width="{{maxProgressBarWidth+200}}">Progress</th>
            </tr>
          </thead>
          <tbody ng-repeat="story in priorities" ng-controller="PMPrioritizeListItemController">
            <tr>
              <td>
                {{story.pbStory.name}}
              </td>
              <td>
                <div class="progress" style="display: inline-block; width: {{maxProgressBarWidth}}px;">
                  <div class="progress-bar" role="progressbar" style="width: {{story.progressPercent()}}%;"></div>
                </div>
                {{story.remaining()|number:2}} hours remaining...
              </td>
            </tr>
            <tr ng-repeat="doStory in story.doStories">
              <td style="padding-left: 20px;">
                <span ng-hide="doStory.isPmMaster()">{{doStory.pbStory.name}}</span>
                <ul>
                  <li ng-repeat="task in doStory.pbStory.tasks">
                  [{{task.progressInHours()|number:2}}/{{task.estimate|number:2}}] {{task.name}}
                  </li>
                </ul>
              </td>
              <td style="padding-left: 20px;">
                <div class="progress" style="display: inline-block; width: {{doStory.pbStory.estimate()|normalize:story.estimate():maxProgressBarWidth}}px; vertical-align: middle;">
                  <div class="progress-bar" role="progressbar" style="width: {{doStory.pbStory.progressPercent()}}%;"></div>
                </div>
                {{doStory.pbStory.remaining()|number:2}} hours remaining...
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- /manage -->

      <!-- do -->
      <div ng-show="mode === 'do'">
      </div>
      <!-- /do -->

    </div>
  </body>
</html>

