<!doctype html>
<html ng-app="PlanboxPMApp">
  <head>
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-filters/build/angular-filters.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/lodash/dist/lodash.js"></script>
    <script src="app.js"></script>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  </head>
  <body class="container">
  <h1>Product Management</h1>
  <div ng-controller="PMListController">
      <table class="table">
          <tr>
              <th>Story</th>
              <th>PM Revenue</th>
              <th>PM Time</th>
              <th>PM Fit</th>
              <th>PM Risk</th>
          </tr>
          <tr ng-repeat="story in pmStories">
              <td>
                  <!--
                  <a ng-href="https://www.planbox.com/initiatives/6887#story_pane_tab=tasks&timeframe=backlog&story_id={{story.id}}" target="planbox">{{story.name}}</a>
                  -->
                  <p ng-click="showStoryDetails = !showStoryDetails"><strong>{{story.name}}</strong></p>
                  <div ng-show="showStoryDetails">
                      <div ng-bind-html="story.description"></div>
                  </div>
              </td>
              <td>
                  <select ng-model="story.pm_revenue" ng-options="value as label for (value, label) in selectOptions.pm_revenue"></select>
              </td>
              <td>
                  <select ng-model="story.pm_time" ng-options="value as label for (value, label) in selectOptions.pm_time"></select>
              </td>
              <td>
                  <select ng-model="story.pm_fit" ng-options="value as label for (value, label) in selectOptions.pm_fit"></select>
              </td>
              <td>
                  <select ng-model="story.pm_risk" ng-options="value as label for (value, label) in selectOptions.pm_risk"></select>
              </td>
          </tr>
      </table>
  </div>
  </body>
</html>

